<!DOCTYPE html>
<html>
<head>
  <title>Rails routes api engine</title>
  <%= stylesheet_link_tag    "rails_routes_api_engine/application", media: "all" %>
  <%= javascript_include_tag "rails_routes_api_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
